
:root{
    --bg_green: #1ABC9C;
    --bg_dark: #2C3E50;
    --bg_light_dark: #3A546D;
    --bg_light: #FFFFFF;
}

.cl_dark{
    background-color: var(--bg_dark);
}

.bg_green{
    background-color: var(--bg_green);
}

.bg_light_dark{
    background-color: var(--bg_light_dark);
}

.bg_dark{
    background-color: var(--bg_dark);
}

a{
    color: white;
    text-decoration: none;
}

img{
    max-width: 100%;
}

h2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

nav{
    color: white;
}

/******
UTILITIES
******/

/*#region main*/

.list_style_n{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul>li{
    display: inline-block;
    margin-left: 1rem;
}

.jumbo img{
    width: 150px;
}

.portfolio_img img{
    width: 100%;
}

.btn_green{
    background-color: var(--bg_green);
    border: 1px solid;
    color: white;
}


/*#endregion main*/