
:root{
    --bg_green: #1ABC9C;
    --bg_dark: #2C3E50;
    --bg_light_dark: #3A546D;
    --bg_light: #FFFFFF;
}

img{
    max-width: 100%;
}

h2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: var(--bg_light);
    font-size: 60px;
}

.icon>i{
    border: 1px solid;
    border-radius: 50%;
    margin: 0 0.2rem;
    padding: 1rem;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
} 


/******
UTILITIES
******/


/*BACKGROUND COLOR*/

.bg_dark{
    background-color: var(--bg_dark);
}

.bg_green{
    background-color: var(--bg_green);
}

.bg_light_dark{
    background-color: var(--bg_light_dark);
}

.bg_dark{
    background-color: var(--bg_dark);
}

/*COLOR*/

.cl_light{
    color: var(--bg_light);
}


/*#region main*/

.jumbo img{
    width: 200px;
}

.line{
    width: 150px;
    height: 3px;
    margin: 0 2rem;
    align-self: center;
}

.portfolio_img img{
    width: 100%;
}

.btn_green{
    background-color: var(--bg_green);
    border: 1px solid;
    color: white;
}


/*#endregion main*/